html,
body {
        width: 100%;
        height: 100%;
        background-color: aliceblue;
}
body {
    background-image: url('/code/assets/images/login_bg.jpg') no-repeat;
    background-size: cover;
}